In [1]:
import numpy as np
import pandas as pd

In [2]:
lable = ['a','b','c']
my_data = [10,20,30]
arr =  np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [3]:
lable

['a', 'b', 'c']

In [4]:
my_data

[10, 20, 30]

In [5]:
arr

array([10, 20, 30])

In [6]:
d

{'a': 10, 'b': 20, 'c': 30}

In [7]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(data = my_data, index = lable)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(my_data, lable)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(lable, my_data)

10    a
20    b
30    c
dtype: object

In [11]:
 pd.Series(arr,d)

a    10
b    20
c    30
dtype: int32

In [12]:
 pd.Series(d,arr)

10   NaN
20   NaN
30   NaN
dtype: float64

In [13]:
pd.Series(data = ['sun','moon','star'])

0     sun
1    moon
2    star
dtype: object

In [14]:
pd.Series(data = [sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [15]:
ser1 = pd.Series([1,2,3,4],['jab','vap','dan','ban'])

In [16]:
ser1

jab    1
vap    2
dan    3
ban    4
dtype: int64

In [17]:
ser2 = pd.Series([1,3,6,7],['jab','vap','bhjhhj','ban'])

In [18]:
ser2

jab       1
vap       3
bhjhhj    6
ban       7
dtype: int64

In [20]:
ser['jab']

1

In [26]:
ser1['vap']

2

In [27]:
ser3 = pd.Series(data = lable)

In [28]:
ser3

0    a
1    b
2    c
dtype: object

In [29]:
ser3[0]

'a'

In [30]:
ser1 +ser2

ban       11.0
bhjhhj     NaN
dan        NaN
jab        2.0
vap        5.0
dtype: float64